/*
@media only screen and (max-width: 1024px){
  header p{
    font-size: 0.44rem;
  }

  item-container{
    width: 47%;
  }

  .product-grid img{
  /*Display only two products, each taking up half the screen*/
  }
}
*/
/*
@media only screen and (max-width: 470px){
  {/*css code here*}
}
*/
body{
  font-family: Helvetica;
  font-size: 18px;
}

.container{
  width: 1279px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 3.33rem;
  background-color: black;
}
header p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.55rem;
  color: white;
  height: 3.33rem;
}

.top-section{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-image: url("../moto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30.8rem;
}

.announce-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
  width: 14rem;
  background-color: black;
  color: white;
}

.announce-box h1{
  font-size: 10px;
  padding-top: 20px;
  padding-left: 10px;
  align-self: flex-start;
}

.announce-box h2{
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
}

nav{
  height: 60%;
  width: auto;
  padding-left: 2.77rem;
  background-color: brown;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

li{
  display: inline;
  color: white;
  padding-right:
}

.product-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15.3rem;
  width: 100%;
  /*background-color: lightblue;*/
}

.item-container{
  display: flex;
  flex-direction: column;
  height: 10.25rem;
  width: 175px;
  border: 5px solid black;
  /*background-color: orange;*/
  }
.product-grid img{
  height: 7.66rem;
  width: 7.83rem;
}

p{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  height 1rem;
  width: auto;
}

.info-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.site-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 7.6rem;
  background-color: black;
  font-size: .75rem;
  color: white;
  margin-top: 200px;
  margin-left: 200px;
}

footer{
  width: 100%;
  height: 3.33rem;
  background-color: black;
}

footer p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.55rem;
  color: white;
  height: 3.33rem;
  width: 100%;
}
